#grid {
  border-collapse: collapse; }

input.item-title {
  border: 0;
  outline: 0;
  text-align: right;
  width: 10em;
  height: 1em; }
  input.item-title:focus {
    color: blue;
    outline: 0; }
  input.item-title.top {
    -webkit-transform: rotate(90deg); }

td.item-container {
  border: 1px solid black; }
  td.item-container.top {
    height: 10em;
    width: 1em; }
