tbody
	- collection @items
		tr
			td.side.item-container
				input.side.item-title[event:change=changed value=@id name="name" placeholder="new item"]
			- collection @links
				td "[" @primaryItemId "," @secondaryItemId "]"
