form#starter[event:submit=blank]
	input[type="number" name="groups" value=@groups event:change=changed min="2" max="8"]
	label[for="groups"] "Groups"
	br
	input[type="number" name="itemsPerGroup" value=@itemsPerGroup event:change=changed min="2" max="8"]
	label[for="itemsPerGroup"] "Items per Group"
