form#starter[event:submit=blank]
	input[type="number" name="numGroups" value=@numGroups event:change=changed min="2" max="8"]
	label[for="numGroups"] "Groups"
	br
	input[type="number" name="itemsPerGroup" value=@itemsPerGroup event:change=changed min="2" max="8"]
	label[for="itemsPerGroup"] "Items per Group"
